# Файлы окружения
.env
*.env

# Базы данных
/chroma_db/

# Python кэш и артефакты
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# ChromaDB data
chroma_db/
chroma_data/

# Celery beat
celerybeat-schedule
*.pid 